<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex</Property>
        <Property name="LOG_FILE_PATH">logs</Property>
        <Property name="LOG_FILE_NAME">ktsms</Property>
    </Properties>
    
    <Appenders>
        <!-- 控制台输出 -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        
        <!-- 滚动文件输出 -->
        <RollingFile name="FileAppender" fileName="${LOG_FILE_PATH}/${LOG_FILE_NAME}.log"
                     filePattern="${LOG_FILE_PATH}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <!-- 按日期滚动 -->
                <TimeBasedTriggeringPolicy/>
                <!-- 按大小滚动，单位KB -->
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <!-- 保留30个归档文件 -->
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
        
        <!-- 错误日志单独输出到文件 -->
        <RollingFile name="ErrorFileAppender" fileName="${LOG_FILE_PATH}/${LOG_FILE_NAME}-error.log"
                     filePattern="${LOG_FILE_PATH}/${LOG_FILE_NAME}-error-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
            <!-- 只记录错误级别 -->
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>
    </Appenders>
    
    <Loggers>
        <!-- MyBatis SQL日志，设置为DEBUG可以查看SQL语句 -->
        <Logger name="cn.wameeee.mapper" level="DEBUG" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
        
        <!-- Spring相关日志 -->
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
        
        <!-- 应用程序日志 -->
        <Logger name="cn.wameeee" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="ErrorFileAppender"/>
        </Logger>
        
        <!-- 根日志配置 -->
        <Root level="WARN">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="ErrorFileAppender"/>
        </Root>
    </Loggers>
</Configuration> 