<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--    注解驱动-->
    <mvc:annotation-driven/>
    <!--    自动扫描注解-->
    <context:component-scan base-package="cn.wameeee.controller"/>
    <!--    内部资源视图解释器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="roleSingleton" class="cn.wameeee.entity.SysRole" scope="singleton"/>
    <bean id="rolePrototype" class="cn.wameeee.entity.SysRole" scope="prototype"/>
    <bean id="roleRequest" class="cn.wameeee.entity.SysRole" scope="request"/>
    <bean id="roleSession" class="cn.wameeee.entity.SysRole" scope="session"/>
</beans>